In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
        'x1': range(4),
        'x2': range(1, 5),
        'y': range(2, 6)
    })

In [3]:
df

   x1  x2  y
0   0   1  2
1   1   2  3
2   2   3  4
3   3   4  5

In [5]:
df.x1.values.shape

(4,)

In [6]:
np.dot(df.x1.values, df.x2.values)

20

In [8]:
df.loc[:, 'x1 x2'.split()].values

array([[0, 1],
       [1, 2],
       [2, 3],
       [3, 4]])